
/*
Daniel Munoz
*/

@font-face {
    font-family: cinzel;
    src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  background-color: #f84e57;
  margin: 0;
  padding: 0;
}

/* ------------------ Header ------------------- */

#header{
  position: fixed;
  background-color: #f84e57;
  background-size: 50%;
  width: 100%;
  height: 10%;
  z-index: 7;
  margin-top: -45%;
}


#about{
font-family: montserratRegular;
position:absolute;
margin-left:10%;
font-size: 1em;
margin-top: 1.5%;
color: white;
width: 20%;
-webkit-transition: 0.3s; /* Safari */
  transition: 1s;
}

#about:hover {
font-weight: bolder;
color: blue;
}

#shop{
  font-family: montserratRegular;
  position:absolute;
  margin-left:27%;
  font-size: 1em;
  margin-top: 1.5%;
  color: white;
  width: 20%;
  -webkit-transition: 0.3s; /* Safari */
    transition: 1s;
}

#shop:hover {
  font-weight: bolder;
  color: blue;
}

#make{
  font-family: montserratRegular;
  position:absolute;
  margin-left:42.3%;
  font-size: 1em;
  margin-top: 1.5%;
  color: white;
  width: 20%;
  -webkit-transition: 0.3s; /* Safari */
    transition: 1s;
}

#make:hover {
  font-weight: bolder;
  color: blue;
}

#patterns{
  font-family: montserratRegular;
  position:absolute;
  margin-left:69.3%;
  font-size: 1em;
  margin-top: 1.5%;
  color: white;
  width: 20%;
  -webkit-transition: 0.3s; /* Safari */
    transition: 1s;
}

#patterns:hover {
  font-weight: bolder;
  color: blue;
}

#locations{
  font-family: montserratRegular;
  position:absolute;
  margin-left:85.3%;
  font-size: 1em;
  margin-top: 1.5%;
  color: white;
  width: 20%;
  -webkit-transition: 0.3s; /* Safari */
    transition: 1s;
}

#locations:hover {
  font-weight: bolder;
  color: blue;
}

h1{
  position: absolute;
  font-family:montserratRegular;
   font-weight: 100;
  color: #f84e57;
  z-index: 6;
}

#h1n1{

 font-size: 1.4em;
  position: absolute;
  margin-top: -40%;
    width: 40%;
  margin-left: 40%;
  color: #0202ff;
}

h2{
  position: static;
  font-family:montserratRegular;
   font-weight: 100;
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding-top: 35%;
}

#container{
  margin-top: 45%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}


/* ------------------ Contents ------------------- */

#logo{
  position: absolute;
  margin-left: 7%;
  width: 90%;
  z-index: 6;
}

#grid{
    position: fixed;
    z-index: 1;
    margin-top: -45%;
    max-width: 110%;
}

#video{
  background-color: #fce8bf;
  position:absolute;
  margin-top: 5%;
  width: 100%;
  height: 87.4%;
  z-index: 3;
  margin-left:-42;
}

#video2{
  background-image: url("../images/map.jpg");
  position:absolute;
  width: 100%;
  height: 87.4%;
  z-index: 3;
  margin-top: 5%;
}

#video4{
  background-color: white;
  position:absolute;
  margin-top: 5%;
  width: 100%;
  height: 87.4%;
  z-index: 3;
  margin-left:-42;
}

#girl{
  max-width: 35%;
  position: absolute;
  margin-left: 10%;
    margin-top: 5%;
    z-index: 6;
}

#video_1{
  position: absolute;
  margin-left: 14.9%;
    margin-top: 5.5%;
    z-index: 5;
}

/* ------------------ Logos ------------------- */

#logo1{
  position: absolute;
  margin-left: 22%;
  max-width: 10%;
    margin-top: -30%;
    z-index: 5;
}

#logo2{
  position: absolute;
  margin-left: 37%;
  max-width: 7%;
    margin-top: -34%;
    z-index: 5;
}

#logo3{
  position: absolute;
  margin-left: 58.9%;
  max-width: 14%;
    margin-top: -20%;
    z-index: 5;
}

#logo4{
  position: absolute;
  margin-left: 68%;
  max-width: 9.3%;
    margin-top: -29.3%;
    z-index: 5;
}

#logo5{
  position: absolute;
  margin-left: 32.4%;
  max-width: 9%;
    margin-top: -22.3%;
    z-index: 5;
}

#logo6{
  position: absolute;
  margin-left: 45.6%;
  max-width: 8%;
    margin-top: -21.3%;
    z-index: 5;
}

#logo7{
  position: absolute;
  margin-left: 50.3%;
  max-width: 9.9%;
    margin-top: -30%;
    z-index: 5;
}

#logo8{
  position: absolute;
  margin-left: 76.3%;
  max-width: 5.7%;
    margin-top: -22.2%;
    z-index: 5;
}

#logo9{
  position: absolute;
  margin-left: 16.3%;
  max-width: 12%;
    margin-top: -19.2%;
    z-index: 5;
}

#logo10{
  position: absolute;
  margin-left: 26%;
  max-width: 6.6%;
    margin-top: -12.2%;
    z-index: 5;
}

#logo11{
  position: absolute;
  margin-left: 38%;
  max-width: 9.6%;
    margin-top: -10.6%;
    z-index: 5;
}

#logo12{
  position: absolute;
  margin-left: 51%;
  max-width: 13.6%;
    margin-top: -11.2%;
    z-index: 5;
}

#logo13{
  position: absolute;
  margin-left: 67%;
  max-width: 10%;
    margin-top: -10.2%;
    z-index: 5;
}


/* ------------------ shop ------------------- */

#promo1{
  position: absolute;
  z-index: 1;
  margin-top: 10%;
  max-width: 40%;
}

#p1{
  font-family: montserratRegular;
  color: blue;
  position: absolute;
  z-index: 1;
  max-width: 40%;
  margin-top: 21%;
  margin-left:3%;
}

#pricer1{
  position: absolute;
  z-index: 1;
  margin-top: 14%;
  max-width: 16%;
}

#promo2{
  position: absolute;
  z-index: 1;
  margin-top: 70%;
  max-width: 33%;
}

#p2{
  font-family: montserratRegular;
  color: blue;
  position: absolute;
  z-index: 1;
  max-width: 30%;
  margin-top: 84%;
  margin-left:53%;
}

#pricer2{
  position: absolute;
  z-index: 1;
  margin-top: 74%;
  max-width: 16%;
}

#promo3{
  position: absolute;
  z-index: 1;
  margin-top: 120%;
  max-width: 33%;
}

#p3{
  font-family: montserratRegular;
  color: blue;
  position: absolute;
  z-index: 1;
  max-width: 30%;
  margin-top: 154%;
  margin-left:33%;
}

#pricer3{
  position: absolute;
  z-index: 1;
  margin-top: 124%;
  max-width: 16%;
}

#logo_red{
  position: absolute;
  margin-top: -23%;
  margin-left: 36%;
  max-width: 30%;
}

.make{
  font-family: montserratRegular;
  display: block;
  color: blue;
  position: relative;
  z-index: 2;
  margin-top: 5.9%;
  max-width: 37%;
  margin-left:9%;
  font-size: 13px;
}

#chica{
  max-width: 55%;
  z-index: 1;
}



/* ------------------ Scrolling JQuery Plugg-in ------------------- */

.skrollable {
	position:fixed;
	z-index:100;
}
.skrollable .skrollable {
	position:absolute;
}
.skrollable .skrollable .skrollable {
	position:static;
}
